name: Bygg og deploy til prod og dev

on:
  push:
    branches:
      - 'main'
    paths:
      - 'src/**'
      - '.github/workflows/deploy-prod.yml'
      - '.nais/prod.yaml'
      - '.nais/preprod.yaml'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'Dockerfile'
      - '.dockerignore'

jobs:
  build_and_deploy:
    name: "Bygger app og deployer til prod-fss og dev-fss"
    uses: navikt/tilleggsstonader/.github/workflows/java-build-and-deploy-prod-and-dev.yml@main
    secrets: inherit
    permissions:
      contents: "write" # Kreves av nais/login
      id-token: "write" # Kreves for 책 skrive s책rbarhetsanalyse-rapport
      security-events: "write" # Kreves for 책 pushe resultat av s책rbarhetsanalyse til Github Security
    with:
      prod-cluster: 'prod-fss'
      prod-manifest: '.nais/prod.yaml'
      dev-cluster: 'dev-fss'
      dev-manifest: '.nais/preprod.yaml'
